In [5]:
import pandas as pd
Data = pd.read_csv("employee_data.csv")

Data
Data[["first name", "Last name"]]  = Data["Name"].str.split(" ", expand = True)

In [6]:
State_abbreviation = {'Alabama':'AL', 'Alaska': 'AK','Arizona': 'AZ','Arkansas': 'AR','California': 'CA',
                        'Colorado': 'CO','Connecticut': 'CT','Delaware': 'DE','Florida': 'FL','Colorado': 'CO','Connecticut': 'CT','Delaware': 'DE','Georgia': 'GA', 'Hawaii': 'HI',
                        'Idaho': 'ID', 'Illinois': 'IL',  'Indiana': 'IN',  'Iowa': 'IA', 'Kansas': 'KS',   'Kentucky': 'KY', 'Louisiana': 'LA',   'Maine': 'ME',      'Maryland': 'MD',    'Massachusetts': 'MA','Michigan': 'MI',
                        'Minnesota': 'MN','Mississippi': 'MS', 'Missouri': 'MO','Montana': 'MT', 'Nebraska': 'NE','Nevada': 'NV','New Hampshire': 'NH',
                        'New Jersey': 'NJ','New Mexico': 'NM','New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR','Pennsylvania': 'PA','Rhode Island': 'RI','Rhode Island': 'RI','South Carolina': 'SC', 'South Dakota': 'SD','Tennessee': 'TN', 'Texas': 'TX','Utah': 'UT',
                        'Vermont': 'VT',
                        'Virginia': 'VA',
                        'Washington': 'WA',
                        'West Virginia': 'WV',
                        'Wisconsin': 'WI',
                        'Wyoming': 'WY',                   
}

In [13]:
Data
for State in State_abbreviation.items(): 
    Data["State"] = Data["State"].str.replace(str(State), str(State_abbreviation))

In [14]:

digit = Data["SSN"].str.split("-")
digitlist = []
for row in digit :
    row[0] = "***-"
    row[1] ="**-"
    x = pd.Series([row[0], row[1], row[2]]).str.cat()
    digitlist.append(x)
Data["SSN"] = digitlist 
Data["DOB"] = pd.to_datetime(Data["DOB"]).dt.strftime('%m/%d/%Y')     


Data.head()
cols = Data.columns.tolist()
cols = cols[-2:] + cols[:-2]
Updatecsv = Data[cols].drop(columns = "Name")

In [15]:
Updatecsv

    first name  Last name  Emp ID         DOB          SSN          State
0         John    Mathews     232  02/24/1991  ***-**-9165   North Dakota
1       Nathan      Moore     533  11/19/1978  ***-**-7469          Maine
2       Amanda    Douglas     256  01/08/1990  ***-**-6961          Idaho
3      Heather    Andrews     189  08/11/1976  ***-**-1797        Vermont
4       Daniel  Hernandez     284  07/22/1976  ***-**-7473       Colorado
5        Danny       Pena     512  01/31/1978  ***-**-9878      Minnesota
6         Gary     Knight     126  03/08/1994  ***-**-1242       Arkansas
7        Robin    Carroll     556  10/14/1972  ***-**-7194     California
8     Michelle  Dickerson     595  02/08/1984  ***-**-2817      Tennessee
9     Kimberly   Gallegos     191  08/05/1972  ***-**-7563         Oregon
10      Morgan     Parker      55  01/30/1986  ***-**-4320      Tennessee
11       Mason     Rhodes     623  01/28/1977  ***-**-4767       Maryland
12         Amy    Griffin     426  02/18/1973  ***-**-1946  Massachusetts
13    Danielle      House     535  04/16/1975  ***-**-9308          Maine
14     Charles     Greene     399  11/28/1992  ***-**-2935       Kentucky
15    Nicholas   Martinez      33  04/05/1979  ***-**-1689      Louisiana
16      Tracey    Meadows     302  01/12/1988  ***-**-6175   Rhode Island
17       Renee      Evans     325  03/14/1991  ***-**-2708        Montana
18      Joseph    Estrada     188  03/29/1984  ***-**-2571   Pennsylvania
19      Jeremy     Warner     184  10/20/1987  ***-**-1184        Alabama
20     Anthony  Rodriguez     526  02/09/1983  ***-**-3865          Idaho
21     Kristen      Lopez      85  01/02/1978  ***-**-8194       Virginia
22        Mark   Mcdonald     171  06/27/1984  ***-**-0101        Montana
23      Robert    Freeman      74  01/01/1984  ***-**-5211       Arkansas
24     Michael   Reynolds      69  10/30/1994  ***-**-8507     California
25    Kristine     Little     365  07/10/1974  ***-**-1771   South Dakota
26       April     Barnes     149  02/15/1983  ***-**-3288   Rhode Island
27      Pamela     Hodges     218  02/19/1989  ***-**-1423           Utah
28      Ronald    Gilbert     647  05/26/1974  ***-**-4448        Wyoming
29      Thomas     Cooper     518  08/17/1972  ***-**-9890       Colorado
..         ...        ...     ...         ...          ...            ...
620     Leslie      Brown     491  06/15/1973  ***-**-1806     New Jersey
621      Maria    Chapman     114  12/20/1973  ***-**-7300       Oklahoma
622    Melissa     Torres     434  03/22/1981  ***-**-6921     New Mexico
623     Joshua     Weaver     615  11/20/1982  ***-**-7030           Iowa
624    Crystal     Martin     525  08/29/1993  ***-**-0679          Maine
625      Sheri       Ball      44  08/04/1991  ***-**-7548        Arizona
626     Steven     Ritter     475  02/11/1986  ***-**-8004           Ohio
627      Linda     Krause     529  12/22/1978  ***-**-4382   South Dakota
628       John      Myers      83  07/25/1989  ***-**-1869     New Jersey
629       Mark      White     275  09/09/1992  ***-**-7830          Idaho
630      Diana      Smith     190  12/02/1973  ***-**-3506       Illinois
631      Karen      Lyons     423  06/09/1990  ***-**-9081       Oklahoma
632      Laura      Glenn     581  10/20/1992  ***-**-1468          Texas
633      Diana     Spence     177  09/20/1983  ***-**-4751  Massachusetts
634   Samantha     Farley     573  07/10/1977  ***-**-2351     Washington
635      Kayla   Mitchell      46  10/13/1975  ***-**-9155      Wisconsin
636    Crystal      Myers      17  12/31/1980  ***-**-6532           Ohio
637     Brooke      Jones     101  04/09/1979  ***-**-2606      Tennessee
638       John    Mueller     261  03/22/1987  ***-**-7849       Maryland
639      Karla    Rosales     435  07/10/1983  ***-**-1729       Illinois
640   Jennifer      Brown     448  08/23/1977  ***-**-0700  Massachusetts
641      Blake    Jimenez     597  09/10/1977  ***-**-3810         Kansas
642    Michael     Garcia     628  11/05/1980  ***-**-4294       Illinois
643   Jermaine      Quinn     610  12/24/1989  ***-**-1754     California
644   Patricia       Cruz     113  04/22/1976  ***-**-3822        Indiana
645    Cameron   Mcintosh     235  02/01/1975  ***-**-8921         Nevada
646   Michelle     Brewer      21  06/10/1988  ***-**-6836       Oklahoma
647     Hannah      Nolan     362  09/15/1978  ***-**-1332       Oklahoma
648      Erica    Johnson     368  05/27/1978  ***-**-9413      Louisiana
649     Jeremy     Obrien     323  01/13/1982  ***-**-7592         Oregon

[650 rows x 6 columns]